<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smpnegeri9tegal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMPNEGERI9TEGAL">
        <activity android:name=".StaffActivity"></activity>
        <activity android:name=".MenuguruActivity" />
        <activity android:name=".PramukaActivity" />
        <activity android:name=".PmrActivity" />
        <activity android:name=".SilatActivity" />
        <activity android:name=".KarateActivity" />
        <activity android:name=".SepakbolaActivity" />
        <activity android:name=".HadrohActivity" />
        <activity android:name=".LainlainActivity" />
        <activity android:name=".KesenianActivity" />
        <activity android:name=".UpacaraActivity" />
        <activity android:name=".HydroponicActivity" />
        <activity android:name=".SenamActivity" />
        <activity android:name=".GreenschoolActivity" />
        <activity android:name=".VisiActivity" />
        <activity android:name=".FasilitasActivity" />
        <activity android:name=".PrestasiActivity" />
        <activity android:name=".EkstrakulikulerActivity" />
        <activity android:name=".GuruActivity" />
        <activity android:name=".GaleriActivity" />
        <activity android:name=".ProfilActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>